# Node modules
node_modules/

# Distribution
lib/**
!lib/index.html
dist/Eve Fleet Simulator*
dist/web/*
!dist/web/index.html
dist/electron_content/*
!dist/electron_content/electron_wrapper.js
!dist/electron_content/package.json
dist/cordova/platforms
dist/cordova/www/*
!dist/cordova/www/.gitignore

# These are processed versions used for inlining. They're not actually source code.
src/css/sim.worker.js
src/css/main.css
src/css/*.eot
src/css/*.ttf

# Output from it's own webpack, not a source file.
packaging_scripts/icon_select.js

# Flow type coverage reports
flow-coverage/

# npm logs
npm-debug.log