.ui.progress.shipStatBarMain {
  #float: right;
  width: 80%;
  display: inline-block;
  min-width: 0%;
}
.ui.image.shipStatBarIcon{
  vertical-align: top;
  max-width: 2.5em;
  max-height: 2.5em;
}
.ui.card .content img, .ui.cards>.card .content img.shipStatBarIcon{
  vertical-align: top;
}
.shipStatBarDiv{
  padding-bottom: 0.4em;
  #max-width: 70%;
  #display: flex;
}
.ui.cards>.card>.content>.header.center.aligned.shipCardHeader{
  display: inline-block;
  clear: none;
}
.ui.cards>.card>.content>.description.shipCardBody{
  float: right;
  clear: none;
  left: 0px;
  width: 60%;
}
.ui.cards>.card .meta.shipCardMeta{
  #float: right;
  font-size: .85714286rem;
  bottom: 0em;
  text-align: center;
  #max-width: 40%;
  width: 80px;
  padding-top: .75em;
  font-weight: 600;
  #padding-right: 1em;
  #padding-left: 1em;
}
.shipCardSecondary{
  max-width: 40%;
}
.ui.cards>.card .content .shipCardSecondary>div>.image{
  display: inline-block;
  max-width: 50%;
}
.ui.cards {
  margin-top: -0.4375em;
}
