.ui.grid>.column.combatAndShipDisplay {
  padding-top: 6em;
  padding-left: 0em;
}
.sidebarToggleDiv {
  #padding-top: 6em;
  margin-top: -6em;
  background-color: rgb(60, 60, 70);
  height: 100%;
  width: 3em;
  display: inline-block;
  position: fixed;
}

.sidebarToggleDiv >.icon {
  #width: 2em;
  margin: 6em 0.16em 0em 0.16em;
}

.fleetSim {
  margin-left: 4em;
}
.shipDisplay {
  margin-left: 4em;
  max-height: 85%
}
.fleetSim >.ui.divider {
  vertical-align: bottom;
}
.inlineButtonSlider {
  margin-top: 0.58928571em;
}
.ui.grid >.battleDisplay.column {
  #color: rgb(60, 60, 70);
  background-color: rgb(60, 60, 70);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  #border-top-right-radius: 0.28571429rem;
  #box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
}
.fleetSim >.ui.grid {
  margin-right: 0.5em;
  margin-left: 0.5em;
  #max-width: 80%;
  #max-height: 80%;

}
.ui.segment.floated.applicationDisplay {
  #display: inline-flex;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 1em;
  margin-left: 1em;
}
.battleDisplay {
  #max-width: 80%;
  #max-height: 80%;
}
.battleDisplayResults {
  display: inline-flex;
}
