.ui.grid>.column.combatAndShipDisplay {
  #padding-top: 6em;
  padding-top: calc(0.92857143em * 1.14285714 * 2 + 1.6em + 32.2344px);
  padding-left: 0em;
  max-height: 100%;
}
.ui.grid>.column.sidebarColumn {
  padding-top: calc(0.92857143em * 1.14285714 * 2 + 1.6em + 32.2344px);
  background-color: rgb(83, 87, 123);
  max-height: 100%;
}
.sidebarToggleDiv {
  #padding-top: 6em;
  margin-top: -6em;
  background-color: rgb(70, 70, 70);
  height: 100%;
  width: 3em;
  display: inline-block;
  position: fixed;
}
.battleDisplayDimmer {
  max-height: calc(100% - 3em);
  #width: calc(100% - 3em);
  height: calc(100% - 3em);
}
.sidebarToggleDiv >.icon {
  #width: 2em;
  margin: 6em 0.16em 0em 0.16em;
}

.fleetSim {
  margin-left: 4em;
}
.shipDisplay {
  margin-left: 4em;
  margin-top: 2em;
  overflow-y: auto;
  overflow-x: hidden;
}
.shipDisplay.shipDisplayNoTopMargin {
  margin-top: 0em;
}
.fleetSim >.ui.divider {
  vertical-align: bottom;
}
.inlineButtonSlider {
  margin-top: 0.58928571em;
  max-width: 100%
}
.ui.grid >.battleDisplay.column {
  background-color: rgb(70, 70, 70);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  #border-top-right-radius: 0.28571429rem;
  #box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
}
.fleetSim >.ui.grid {
  margin-right: 0.5em;
  margin-left: 0.5em;
  height: 100%;
  margin-bottom: 2em;
}
.fleetSim >.ui.grid >.column {
  height: 100%;
  padding-bottom: 0em;
}
.ui.segment.floated.applicationDisplay {
    max-width: 30%;
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0;
    margin-bottom: 0em;
}
.ui.segment.floated.applicationDisplayNarrow {
    padding-left: 0em;
    padding-right: 0em;
}
.ui.table.fleetStateTable {
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: auto;
}
.battleDisplay {
  max-width: 100%;
  max-height: calc(100% - 2em);
  padding-bottom: 0.2em;
}
.battleDisplay.battleDisplayNarrow {
  max-height: calc(100% - 4em);
}
.battleDisplay >.buttons >.button {
  #display: inline-grid;
  #justify-content: stretch;
}
.battleDisplayResults {
  display: inline-flex;
  max-width: 100%;
}
.fitInfoPopupTrigger {
  #float: right;
  display: inline-flex;
}
